<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true" />
    </settings>
    <typeAliases>
        <package name="vn.avg.zizi"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="vn.avg.zizi.mappers.LocalDateTimeTypeHandler" />
       	
    </typeHandlers>
    <mappers>
        <mapper resource="sqlMapper/MMkMapper.xml" />

    </mappers>
</configuration>