<script src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>


<div class="SeiMainBg" th:fragment="content">
	<th:block th:replace="common/master-title :: title"></th:block>
	<th:block th:if="${mMkVO != null and mMkVO.dtoList != null}">
		<th:block th:include="common/search-result-not-found-data"
			th:with="dtoList=${mMkVO.dtoList}"></th:block>
	</th:block>
	<!--     <div th:text="#{MNG310201.form.message}"></div> -->
	<form id="searchForm" th:action="@{MNG310201}" class="SeiForm"
		method="post" th:object="${searchMakerForm}">
		<th:block th:if="${message != null}">
			<div id="MessageInfo"
				th:class="${(message.type == 'ERROR') ? 'SeiError':(message.type == 'WARN')? 'SeiWarning': ''}"
				th:text="#{${message.messageId}}"></div>
		</th:block>
		<table class="SeiInput" cellspacing="1" cellpadding="2">
			<tbody>
				<tr>
					<th class="SeiTH" nowrap="" th:text="#{MNG310201.form.mkNm}"></th>
					<td class="SeiTD">
						<p class="searchType" th:text="searchCondition2"></p> <input
						maxlength="50" id="mkNm" name="mkNm" th:field="*{mkNm}"
						th:autocomplete="${mMkVO.mkNmList}" /> <label
						th:if="${#fields.hasErrors('mkNm')}" th:class="'error'"
						th:errors="*{mkNm}"></label>
					</td>
					<th class="SeiTH text-align-left"
						th:text="#{MNG310201.form.prodType}"></th>
					<td class="SeiTD listChbx"><th:block>
							<input type="checkbox" th:value="itmDiv.code" name="itmDivList"
								id="itmDivList" th:field="*{itmDivList}" />
							<label th:text="itmDiv.name">Value</label>
						</th:block></td>
				</tr>
			</tbody>
		</table>
		<th:block th:replace="sites/master/common/search-block"></th:block>
	</form>
	<th:block th:if="${mMkVO.dtoList != null}">

		<table class="SeiResult2 tblSearchResult tblSearchResultHeader"
			th:style="'width:' + ${(isAddNo == null and headerSize == null) or (isAddNo != null and !isAddNo and headerSize == null) 
										? 1000 : (isAddNo == null? headerSize : (headerSize + 40))} + 'px !important;'"
			cellspacing="1" cellpadding="2">
			<thead>
				<tr>
					<th>mkCd</th>
					<th>pullDownDspSeq</th>
					<th>mkNm</th>
				</tr>
			</thead>
				<tr th:each="dto : ${mMkVO.dtoList}" th:onclick="|doDetails( ${dto.mkCd}  ,'MNG310202')|">
					<td th:text="${dto?.mkCd}">mkCd</td>
					<td th:text="${dto?.pulldownDspSeq}">pulldownDspSeq</td>
					<td th:text="${dto?.mkNm}">mkNm</td>
				</tr>
		</table>

	</th:block>
</div>
<th:block th:fragment="css-script">
	<link rel="stylesheet" type="text/css"
		th:href="@{|/css/jquery-ui.css|}" />
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/table.js}"></script>
	<script th:src="@{/js/MNG31020X.js}" type="text/javascript"></script>
</th:block>
